* {
    box-sizing: border-box;
}
body {
    background-color: #c2c2c2;
    font-family: "Montserrat", sans-serif;
}
.number {
    width: 9.7vh;
    height: 9.7vh;
    line-height: 9.7vh;
    margin: 0.3vh;
	background-color: #d6d6d6;
    border-radius: 20%;
    font-size: 7.3vh;
    color: #ececec;
    text-align: center;
}
.number.called {
    background-color: #ffffff;
    border-style: solid;
    color: #000000;
    font-weight: 750;
}
.number.called.big {
    width: 95vh;
    height: 95vh;
    line-height: 95vh;
    font-size: 80vh;
    position: absolute;
    border-width: thick;
    border-radius: 15%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bottom-links {
    color:  #ececec;
    text-align: right;
    position: fixed;
    bottom: 1vh;
    right: 1vh;
}
.bottom-links .link {
    cursor: pointer;
}
.hidden {
    display: none;
}
#tavola {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#overlay    {
    position: fixed;
    display: none;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(102, 102, 102, 0.9);
    z-index: 999;
}
