* {
    box-sizing: border-box;
}
body {
    background-color: #c2c2c2;
    font-family: "Montserrat", sans-serif;
}
.number {
    width: 9.7vh;
    height: 9.7vh;
    margin: 0.3vh;
	background-color: #d6d6d6;
    border-radius: 20%;
    font-size: 7.3vh;
    color: #ececec;
    text-align: center;
    padding: 0.8vh;
    line-height: 8.2vh;
    transition: all .2s linear;
}
.number.called {
    background: url('images/numero-bg.png') center;
    background-size: cover;
    color: #000000;
    font-weight: 750;
}
.number.called.big {
    width: 95vh;
    height: 95vh;
    padding: 6.9vh;
    line-height: 81.5vh;
    font-size: 73vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.called-number {
    float: left;
    margin: 10px;
    width: 200px;
    height: 200px;
    border-radius: 150px;
    background: url('images/numero-bg.png') center;
    background-size: cover;
}
.bottom-links {
    color:  #ececec;
    text-align: right;
    position: fixed;
    bottom: 1vh;
    right: 1vh;
}
.bottom-links .link {
    cursor: pointer;
}
.bottom-links .link:hover {
    border-bottom: 1px dashed #ececec;
}
.hidden {
    display: none;
}
#tavola {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#overlay    {
    position: fixed;
    display: none;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(102, 102, 102, 0.9);
    z-index: 999;
}
