* {
    box-sizing: border-box;
}
body {
    background-color: #c2c2c2;
    font-family: sans-serif;
}
.number {
    width: 9.7vh;
    height: 9.7vh;
    margin: 0.3vh;
    background-color: #d6d6d6;
    border-radius: 20%;
    font-size: 7.3vh;
    color: #ececec;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}
.number.called {
    background-color: #ffffff;
    border-style: solid;
    color: #000000;
    font-weight: 700;
}
.number.called.big {
    width: min(95vh, 95vw);
    height: min(95vh, 95vw);
    font-size: min(80vh, 80vw);
    position: absolute;
    border-width: thick;
    border-radius: 15%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: default;
}
.bottom-links {
    color:  #ececec;
    text-align: right;
    position: fixed;
    bottom: 1vh;
    right: 1vh;
}
.bottom-links .link {
    cursor: pointer;
}
.hidden {
    display: none;
}
#bingo {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#overlay    {
    position: fixed;
    display: none;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(102, 102, 102, 0.9);
    z-index: 999;
}
