<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tombola – Admin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body>
    <div id="overlay"><div class="number called big" id="big-called-number">0</div></div>
    <table id="bingo"></table>
    <div class="controls">
        <span class="link" id="btnReset">RESET</span>
    </div>
    <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
</body>
</html>
